extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box
        h1 تغییر کلمه عبور
        - if (success)
          p لطفا ایمیل خود را برای دستورعمل های بعدی چک کنید
        - else
          form#change-pass-form(action="/change-password", method="post")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            #error-cnt
              - if (errors)
                - each error in errors
                  - if (error === "wrong-token")
                    li.error متاسفانه ادرسی که وارد کردید غلط میباشد
                  - if (error === "wrong-pass")
                    li.error کلمه عبور درست نمیباشد.
            .control-group
              input(type='hidden', name="token", value=token)
              label(for="password").label کلمه عبور جدید
              input#change-pass-new-pass(type="password", name="password", placeholder="New password", tabindex="1")
            .control-group
              label(for="repeat_password").label تایید کلمه عبور
              input(type="password", name="repeat_password" placeholder="Confirm password", tabindex="3")
            input#change-pass-btn(type="submit", value="Change", tabindex="4")
