extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box.large
        h1 بازنشانی کلمه عبور
        - if (success)
          p.msg ایمیل خود را برای دستورالعمل های بعدی چک کنید.
        - else
          form#send-pass-form(action="/send-password", method="post")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            #error-cnt
              - if (errors)
                - each error in errors
                  - if (error === "wrong-user")
                    p.error متاسفانه این ایمیل را در سیستم یافت نکردیم.
                  - if (error === "invalid-captcha")
                    p.error لطفا کد رمزی ضد احراز هویت را وارد کنید.
            .control-group
              label(for="email").label آدرس ایمیل
              .input-prepend
                span.add-on
                  i.icon-envelope
                input#change-pass-email(type="email", name="email", placeholder="Email", tabindex="1", autofocus)
            .g-recaptcha(data-sitekey="#{recaptchaPublicKey}")
            script.
              var RecaptchaOptions = {theme : 'clean'};
            script(src="https://www.google.com/recaptcha/api.js" async defer)
            input#change-pass-btn(type="submit", value="Reset Password", tabindex="2")
