extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box
        h1 تاییدیه ایمیل
        - if (user && user.email_verified)
          p.msg 
            | ایمیل شما با موفقیت تایید شد.
        - else
          p.msg ایمیل شما تایید نشد.
        br
        |  <a href="/">بازگشت به صفحه اول.</a>