lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.DS_Store
.idea
.idea/*
.settings.xml
.monitor
.env
crash.log
builtAssets
erl_crash.dump
certs
certs/*



cron_dump/*.dump
cron_dump/currency.dump
cron_dump/currency_exclude.dump
