#globalchat.chatbox
  ul#messages-list.message-list(style="direction:rtl")
  .message-post
    - if (user)
      input#chat-message-box(type="text", placeholder="برای چت اینجا تایپ کنید...").chat-message-input
      button#send-message-bt ارسال
    - else
      p.login-required لطفا ابتدا وارد شوید. <a href="/login">ورود</a>