<<<<<<< HEAD
- if (!user)
  .footer-cta
    h3.tagline ازامروز شروع کن<strong>10 روز </strong>بدون کارمزد!
    a(href='/signup').cta حالا شروع کن

footer
  .footer-body
    .wrapper
      .column
        h2 منابع
        ul
          li: a(href='http://support.separdaz.com/') پشتیبانی
          li: a(href='/api') API
          li: a(href='/status') Status
      .column
        h2 قوانین
        ul
          li: a(href='/security') امنیت
          li: a(href='/legal/terms') قانون
          li: a(href='/fees') کارمزدها   
      .column
        h2 ارتباطات
        ul
          li: a(href='http://blog.separdaz.com', target='_blank') وبلاگ
          li: a(href='https://twitter.com/separdaz', target='_blank') Twitter
      .column.logo
        img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Separdaz").separdaz-logo
=======
- if (!user)
  .footer-cta
    h3.tagline ازامروز شروع کن<strong>10 روز </strong>بدون کارمزد!
    a(href='/signup').cta حالا شروع کن

footer
  .footer-body
    .wrapper
      .column
        h2 منابع
        ul
          li: a(href='http://support.separdaz.com/') پشتیبانی
          li: a(href='/api') API
          li: a(href='/status') Status
      .column
        h2 قوانین
        ul
          li: a(href='/security') امنیت
          li: a(href='/legal/terms') قانون
          li: a(href='/fees') کارمزدها   
      .column
        h2 ارتباطات
        ul
          li: a(href='http://blog.separdaz.com', target='_blank') وبلاگ
          li: a(href='https://twitter.com/separdaz', target='_blank') Twitter
      .column.logo
        img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Separdaz").separdaz-logo
>>>>>>> 48b7149a4fb3de9f81af85fbc2b413fd8281be78
        .copyright Copyright © 2018 Separdaz Cryptocurrency Exchange. All rights reserved.