- if (user && !user.canTrade())
  .alert.warning
    p 
      | قبل از فعال سازی قابلیت مبادله شما باید ایمیل خودرا فعال کنید <br /> لطفا روی لینکی که به ایمیل شما ارسال شده کلیک کنید <br /> اگر چنین ایمیلی را دریافت نکردید روی  <a href="/resend" id="resend-verification-link">اینجا</a> کلیک کنید تا دوباره ارسال شود.

  .alert.warning 
    p 
      | برای فروش نرم افزار مبادله با ما تماس بگیرید, <a href="http://xtopo.io">جزییات فروش</a>.